#parse("/velocity/user/yiquan/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/yiquan/topup.css"></link>

<div class="topup ng-hide" ng-show="yiquan" ng-if="yiquan">
	<table>
		<tr>
			<td>#label("YIQUAN_NO")</td>
			<td><span>{{yiquan.code}}</span></td>
		</tr>
		<tr>
			<td>#label("YIQUAN_BALANCE")</td>
			<td><span>{{yiquan.balance.amount}}</span></td>
		</tr>
		<tr>
			<td>#label("TOPUP_AMOUNT")</td>
			<td><input ng-model="yiquan.topUpAmount"/></td>
		</tr>
		<tr>
			<td>#label("PAYMENT_METHOD")</td>
			<td><input type="radio" name="paymentMethod" /><span>#label("BANK")</span> <input type="radio" name="paymentMethod" /><span>#label("ALIPAY")</span>
				<input type="radio" name="paymentMethod" /><span>#label("WECHAT")</span></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><button ng-click="apply()">#button("TOPUP")</button></td>
		</tr>
	</table>
</div>

<script src="/static/js/business/user/yiquan/topup.js"></script>