div.login img.logo {
	width: 350px;
	height: 350px;
	max-height: 350px;
	max-width: 350px;
}

div.login div.title {
	text-align: center;
	height: 50px;
	line-height: 50px;
}

div.login td.tab {
	text-align: center;
	width: 180px;
	height: 60px;
}

div.login td.tabSelected span {
	color: white;
}

div.login td.tabUnselected span {
	color: #428bca;
}

div.login td.tabSelected {
	background-color: rgba(121, 121, 121, 1);
}

div.login td.tabUnselected {
	background-color: #f5f5f5;
}

div.login td.tab div {
	text-align: center;
	width: 180px;
	height: 60px;
}

div.login td.tab a {
	line-height: 60px;
	text-decoration: none;
}

div.login td {
	border: solid 1px;
}

div.login input {
	height: 33px;
	width: 330px;
}

div.login div.row {
	padding: 20px 0px 0px 20px;
}

div.login button.btn-login {
	width: 330px;
	margin-left: 28px;
}

div.login button.btn-qq, div.login button.btn-wechat, div.login button.btn-psw
	{
	width: 90px;
	margin-right: 25px;
}

div.login button.btn-qq {
	margin-left: 28px;
}

div.content table {
	margin: auto;
}