<html>
<p1>Spring boot example</p1>
#if(!${response.errors.empty})
<p>Error: ${response.errors.get(0).description} </p>
<p>The URL should be like /example/page?data=abc</p>
#else
<p>Request: ${request}</p>
<p>Response: ${response.data.get(0)}</p>
#end
</html>