div.navBar ul.homePagePopList {
	left: 70px;
	top: 30px;
}

div.navBar ul.homeEndowmentPopList {
	left: 630px;
	top: 30px;
}

div.navBar ul.pensionIndustryPopList {
	left: 770px;
	top: 30px;
}

div.navBar ul.talentTrainingPopList {
	left: 1050px;
	top: 30px;
}

