#set($currentPage="_MANAGEMENT")
#parse("/velocity/service/admin/navigation.vm")

<link rel="stylesheet"
	href="/static/css/business/service/admin/operator.css"></link>

<script type="text/javascript">
	layoutApp.value('operatorId',#if($id)$id#else 0 #end);
</script>

<div class="operator" ng-controller="operatorController">
	<div>
		<div>
			<table>
				<tr>
					<td><label>#label("USERNAME")</label></td>
					<td><span>{{operator.username}}</span></td>
				</tr>
				<tr>
					<td><label>#label("STATUS")</label></td>
					<td><span>{{operator.status.message}}</span></td>
				</tr>
				<tr>
					<td><label>#label("STAFF_NO")</label></td>
					<td><input ng-model="operator.staffNo" /></td>
				</tr>
				<tr>
					<td><label>#label("NAME")</label></td>
					<td><input ng-model="operator.name" /></td>
				</tr>
			</table>
		</div>
		<div>
			<button ng-click="active()">#button("ACTIVE")</button>
			<button ng-click="disable()">#button("DISABLE")</button>
			<button ng-click="back()">#button("BACK")</button>
		</div>
	</div>
</div>

<script src="/static/js/business/service/admin/operator.js"></script>