div.search {
	margin-left: 70px;
	width: 1100px;
}

div.city {
	width: 1100px;
	text-align: center;
	line-height: 25px;
}

div.city select {
	height: 32px;
}

div.filter, div.services {
	background-color: rgba(174, 174, 174, 1);
	margin-top: 30px;
	padding: 10px 0px;
}

div.filter ul, div.services ul {
	list-style: none;
	padding: 0px;
}

div.filter li {
	float: left;
}

div.filter div.category {
	height: 70px;
	padding-left: 40px;
}

div.filter div.subCategory {
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
}

div.filter div.submit, div.paging {
	text-align: center;
	margin-top: 10px;
}

div.filter a {
	text-decoration: none;
}

div.category li.categoryItem div {
	width: 130px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #f5f5f5;
	margin-right: 30px;
}

div.subCategory {
	background: white;
	border: solid 1px;
	margin: 0px 40px;
}

div.subCategory li.subCategoryItem {
	margin-right: 10px;
}

div.subCategory li.subCategoryItem input {
	margin-right: 2px;
}

div.services li.serviceItem {
	background: white;
	width: 1080px;
	margin: 0px 0px 10px 10px;
	padding: 10px;
	height: 140px;
}

div.services li.serviceItem div.serviceImg {
	float: left;
}

div.services li.serviceItem div.serviceBooking {
	float: right;
}

div.services li.serviceItem div.serviceImg img {
	width: 120px;
	height: 120px;
	max-height: 120px;
	max-width: 120px;
	margin-right: 10px;
}

div.services li.serviceItem div.serviceInfoTitle {
	font-size: large;
	font-weight: bold;
}

div.services li.serviceItem div.serviceInfoDetail {
	margin-top: 5px;
}

div.services li.serviceItem div.serviceInfoDetail span.key {
	font-weight: bold;
	margin-right: 10px;
}

div.services li.serviceItem div.serviceBooking button {
	margin: 35px 40px 0px 0px;
	width: 200px;
	height: 50px;
}