#parse("/velocity/servicer/navigation.vm")

<link rel="stylesheet" href="/static/css/business/servicer/info.css"></link>

<div class="info" ng-controller="contentController">info</div>

<script src="/static/js/business/servicer/info.js"></script>