#parse("/velocity/servicer/navigation.vm")

<link rel="stylesheet"
	href="/static/css/business/servicer/orderEdit.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceOrderId", ${serviceOrderId});
</script>

<div class="orderEdit" ng-controller="contentController">
	<table>
		<tr>
			<td align="center" class="key"><span>#label("SERVICE_ORDER_ID")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.id}}</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("ASSIGNMENT")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<div class="ng-hide"
						ng-hide="order.status.code=='U'||order.status.code=='G'">
						<span>#label("ASSIGNED")</span>
					</div>
					<div class="ng-hide"
						ng-show="order.status.code=='U'||order.status.code=='G'">
						<span>#label("NOT_ASSIGNED")</span>
					</div>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("SERVICE_RECEIVER_NAME")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.username}}</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("SERVICE_TIME")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span class="value">{{order.serviceDate |
						date:'yyyy-MM-dd'}} {{order.serviceHour}}:00</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("SERVICE_ADDRESS")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.address}}</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("SERVICE_CATEGORY")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.serviceInfo.serviceCategory.name}}</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("PHONE_NO")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.phone}}</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("PRICE")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.price}}</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("RECEIPT")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span ng-show="order.receipt">#label("RECEIPT_UPLOADED")</span><span
						ng-hide="order.receipt">#label("RECEIPT_NOT_UPLOADED")</span>
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("RECEIPT_NO")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<input />
				</div></td>
		</tr>
		<tr>
			<td align="center" class="key"><span>#label("STATUS")</span></td>
			<td align="center" class="value"><div class="ng-hide"
					ng-show="order">
					<span>{{order.status.message}}</span>
				</div></td>
		</tr>
		<tr>
			<td colspan="2" style="border: none;">
				<div style="text-align: center;">
					<button ng-click="apply()">#button("APPLY")</button>
					<button ng-click="back()">#button("BACK")</button>
				</div>
			</td>
		</tr>
	</table>

</div>

<script src="/static/js/business/servicer/orderEdit.js"></script>