#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/family.css"></link>

<div class="family" ng-controller="contentController">
	<table>
		<thead>
			<tr>
				<td align="center"><div>
						<span>#label("FAMILY_MEMBER_NAME")</span>
					</div></td>
				<td align="center"><div>
						<span>#label("CONTACT_METHOD")</span>
					</div></td>
				<td align="center"><div>
						<span>#label("RELATIONSHIP")</span>
					</div></td>
			</tr>
		</thead>
		<tbody>
			<tr class="ng-hide" ng-show="members" ng-repeat="member in members">
				<td align="center"><div ng-show="!modeUpdate">
						<span>{{member.name}}</span>
					</div>
					<div ng-show="modeUpdate">
						<input ng-model="member.name" />
					</div></td>
				<td align="center"><div ng-show="!modeUpdate">
						<span>{{member.cellphoneNo}}</span>
					</div>
					<div ng-show="modeUpdate">
						<input ng-model="member.cellphoneNo" />
					</div></td>
				<td align="center">
					<div ng-show="!modeUpdate">
						<span>{{member.familyRelationship.message}}</span>
					</div>
					<div ng-show="modeUpdate">
						<select ng-model="member.familyRelationship.code">
							<option ng-repeat="relationship in relationships"
								value="{{relationship.code}}">{{relationship.message}}</option>
						</select>
					</div>
				</td>
			</tr>
			<tr class="ng-hide" ng-show="modeUpdate">
				<td class="add" align="center" colspan="3"><a
					href="javascript:void(0)" ng-click="addNew()"><div>#button("ADD_NEW")</div></a></td>
			</tr>
		</tbody>
	</table>
	<div class="apply" align="center">
		<button class="ng-hide" ng-show="!modeUpdate"
			ng-click="modeUpdate=true">#button("EDIT")</button>
		<button class="ng-hide" ng-show="modeUpdate" ng-click="apply()">#button("APPLY")</button>
	</div>
</div>

<script src="/static/js/business/user/family.js"></script>