<div class="subNavBar navBar">
	<ul>
		<li><a href="/user/order"><div
					class="navBarItem #if($currentPage=='ORDER')selected #end">
					<span>#button("MY_ORDER")</span>
				</div></a></li>
		<li><a href="/user/userinfo"><div
					class="navBarItem #if($currentPage=='USERINFO')selected #end">
					<span>#button("USER_INFO")</span>
				</div></a></li>
		<li><a href="/user/family"><div
					class="navBarItem #if($currentPage=='FAMILY')selected #end">
					<span>#button("FAMILY_INFO")</span>
				</div></a></li>
		<li><a href="/user/health"><div
					class="navBarItem #if($currentPage=='HEALTH')selected #end">
					<span>#button("HEALTH_STATUS")</span>
				</div></a></li>
		<li><a href="/user/realname"><div
					class="navBarItem #if($currentPage=='REALNAME')selected #end">
					<span>#button("REALNAME_VERIFY")</span>
				</div></a></li>
		<li><a href="/user/password"><div
					class="navBarItem #if($currentPage=='PASSWORD')selected #end">
					<span>#button("USER_PASSWORD_CHANGE")</span>
				</div></a></li>
		<li><a href="/user/yiquan"><div
					class="navBarItem #if($currentPage=='YIQUAN')selected #end">
					<span>#button("MY_YIQUAN")</span>
				</div></a></li>
		<li><a href="/user/volunteer"><div
					class="navBarItem #if($currentPage=='ALLOWANCE_SUPPLIER_VERIFY')selected #end">
					<span>#button("ALLOWANCE_SUPPLIER_VERIFY")</span>
				</div></a></li>
	</ul>
</div>