#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/order.css"></link>

<div class="order" ng-controller="contentController">
	<table class="tab">
		<tr>
			<td align="center"><a href="javascript:void(0)"
				ng-click="status='unprocessedOrder'"><div
						ng-class="{true: 'tabSelected', false: 'tabUnselected'}[status=='unprocessedOrder']">
						<span>#button("UNPROCESSED_ORDER")</span>
					</div></a></td>
			<td align="center"><a href="javascript:void(0)"
				ng-click="status='processingOrder'"><div
						ng-class="{true: 'tabSelected', false: 'tabUnselected'}[status=='processingOrder']">
						<span>#button("PROCESSING_ORDER")</span>
					</div></a></td>
			<td align="center"><a href="javascript:void(0)"
				ng-click="status='processedOrder'"><div
						ng-class="{true: 'tabSelected', false: 'tabUnselected'}[status=='processedOrder']">
						<span>#button("PROCESSED_ORDER")</span>
					</div></a></td>
		</tr>
	</table>
	.
	<div class="result ng-hide" ng-show="status=='unprocessedOrder'">
		<ul class="data">
			<li ng-repeat="unprocessedOrder in unprocessedOrders">
				<div class="orderItem">
					<div class="orderPic">
						<img alt="service pic" />
					</div>
					<div class="orderInfo">
						<div>
							<span class="key">#label("ORDER_ID")</span><a
								href="/user/order/{{unprocessedOrder.id}}"><span
								class="value">{{unprocessedOrder.id}}</span></a> <span class="key">#label("SERVICE_TIME")</span><span
								class="value">{{unprocessedOrder.serviceTime |
								date:'yyyy-MM-dd HH-mm:ss'}}</span> <span class="key">#label("SERVICE_CATEGORY")</span><span
								ng-repeat="subOrder in unprocessedOrder.serviceSubOrders">{{subOrder.service.serviceCategory.name}}
							</span>
						</div>
						<div class="orderCompany">
							<span class="key">{{unprocessedOrder.serviceSubOrders[0].service.serviceSupplierClient.name}}</span><span
								class="value">{{unprocessedOrder.serviceSubOrders[0].service.serviceSupplierClient.address}}</span>
						</div>
						<button>#button("ORDER_CANCEL")</button>
					</div>
				</div>
			</li>
		</ul>
		<div class="orderPaging">
			<pagination total-items="unprocessedOrderPaging.itemCount"
				ng-model="unprocessedOrderPaging.pageIndex" max-size="10"
				items-per-page="unprocessedOrderPaging.pageSize"
				class="pagination-sm" boundary-links="true"
				ng-change="populateUnprocessedOrders()"
				first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
				previous-text='#label("PREVIOUS_PAGE")'
				next-text='#label("NEXT_PAGE")'></pagination>
		</div>
	</div>
	<div class="result ng-hide" ng-show="status=='processingOrder'">
		<ul class="data">
			<li ng-repeat="processingOrder in processingOrders">
				<div class="orderItem">
					<div class="orderPic">
						<img alt="service pic" />
					</div>
					<div class="orderInfo">
						<div>
							<span class="key">#label("ORDER_ID")</span><a
								href="/user/order/{{processingOrder.id}}"><span
								class="value">{{processingOrder.id}}</span></a> <span class="key">#label("SERVICE_TIME")</span><span
								class="value">{{processingOrder.serviceTime |
								date:'yyyy-MM-dd HH-mm:ss'}}</span> <span class="key">#label("SERVICE_CATEGORY")</span><span
								ng-repeat="subOrder in processingOrder.serviceSubOrders">{{subOrder.service.serviceCategory.name}}
							</span>
						</div>
						<div class="orderCompany">
							<span class="key">{{processingOrder.serviceSubOrders[0].service.serviceSupplierClient.name}}</span><span
								class="value">{{processingOrder.serviceSubOrders[0].service.serviceSupplierClient.address}}</span>
						</div>
						<button>#button("ORDER_CANCEL")</button>
					</div>
				</div>
			</li>
		</ul>
		<div class="orderPaging">
			<pagination total-items="processingOrderPaging.itemCount"
				ng-model="processingOrderPaging.pageIndex" max-size="10"
				items-per-page="processingOrderPaging.pageSize"
				class="pagination-sm" boundary-links="true"
				ng-change="populateProcessingOrders()"
				first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
				previous-text='#label("PREVIOUS_PAGE")'
				next-text='#label("NEXT_PAGE")'></pagination>
		</div>
	</div>
	<div class="result ng-hide" ng-show="status=='processedOrder'">
		<ul class="data">
			<li ng-repeat="processedOrder in processedOrders">
				<div class="orderItem">
					<div class="orderPic">
						<img alt="service pic" />
					</div>
					<div class="orderInfo">
						<div>
							<span class="key">#label("ORDER_ID")</span><a
								href="/user/order/{{processedOrder.id}}"><span class="value">{{processedOrder.id}}</span></a>
							<span class="key">#label("SERVICE_TIME")</span><span
								class="value">{{processedOrder.serviceTime |
								date:'yyyy-MM-dd HH-mm:ss'}}</span> <span class="key">#label("SERVICE_CATEGORY")</span><span
								ng-repeat="subOrder in processedOrder.serviceSubOrders">{{subOrder.service.serviceCategory.name}}
							</span>
						</div>
						<div class="orderCompany">
							<span class="key">{{processedOrder.serviceSubOrders[0].service.serviceSupplierClient.name}}</span><span
								class="value">{{processedOrder.serviceSubOrders[0].service.serviceSupplierClient.address}}</span>
						</div>
						<button>#button("ORDER_APPRAISE")</button>
					</div>
				</div>
			</li>
		</ul>
		<div class="orderPaging">
			<pagination total-items="processedOrderPaging.itemCount"
				ng-model="processedOrderPaging.pageIndex" max-size="10"
				items-per-page="processedOrderPaging.pageSize" class="pagination-sm"
				boundary-links="true" ng-change="populateProcessedOrders()"
				first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
				previous-text='#label("PREVIOUS_PAGE")'
				next-text='#label("NEXT_PAGE")'></pagination>
		</div>
	</div>
</div>

<script src="/static/js/business/user/order.js"></script>