#set($currentPage="PASSWORD") #parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/password.css"></link>

<div class="password" ng-controller="passwordController">
	<div>
		<table>
			<tr>
				<td>#label("OLD_PASSWORD")</td>
				<td><input ng-model="oldPassword" type="password" /></td>
			</tr>
			<tr>
				<td>#label("NEW_PASSWORD")</td>
				<td><input ng-model="newPassword" type="password" /></td>
			</tr>
			<tr>
				<td>#label("REPEAT_PASSWORD")</td>
				<td><input ng-model="newPasswordAgain" type="password" /></td>
			</tr>
		</table>
	</div>
	<div>
		<button ng-click="apply()">#button("OK")</button>
	</div>
</div>

<script src="/static/js/business/user/password.js"></script>