#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/password.css"></link>

<div class="password" ng-controller="contentController">
	<table>
		<tr>
			<td>#label("OLD_PASSWORD")</td>
			<td><input ng-model="oldPassword" type="password" /></td>
		</tr>
		<tr>
			<td>#label("NEW_PASSWORD")</td>
			<td><input ng-model="newPassword" type="password" /></td>
		</tr>
		<tr>
			<td>#label("REPEAT_PASSWORD")</td>
			<td><input ng-model="newPasswordAgain" type="password" /></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><button ng-click="apply()">#button("OK")</button></td>
		</tr>
	</table>
</div>

<script src="/static/js/business/user/password.js"></script>