#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/realname.css"></link>

<div class="realname" ng-controller="realnameController">realname</div>

<script src="/static/js/business/user/realname.js"></script>