<link rel="stylesheet" href="/static/css/business/user/register.css"></link>

<div class="register" ng-controller="registerController">
	<div>
		<div>
			<table>
				<tr>
					<td><label>#label("USERNAME")</label></td>
					<td><input ng-model="username" /></td>
				</tr>
				<tr>
					<td><label>#label("PASSWORD")</label></td>
					<td><input type="password" ng-model="password" /></td>
				</tr>
				<tr>
					<td><label>#label("REPEAT_PASSWORD")</label></td>
					<td><input type="password" ng-model="repeatPassword" /></td>
				</tr>
			</table>
		</div>
		<div>
			<button ng-click="register()">#button("REGISTER")</button>
		</div>
	</div>
</div>

<script src="/static/js/business/user/register.js"></script>