#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/userinfo.css"></link>

<div class="userinfo">
	<table>
		<tr>
			<td>#label("USER_ID")</td>
			<td><span>{{id}}</span></td>
		</tr>
		<tr>
			<td>#label("USER_NAME")</td>
			<td><span>{{username}}</span></td>
		</tr>
		<tr>
			<td>#label("EMAIL")</td>
			<td><input ng-model="email" /></td>
		</tr>
		<tr>
			<td>#label("PHONE")</td>
			<td><input ng-model="cellphone" /></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><button ng-click="apply()">#button("OK")</button></td>
		</tr>
	</table>
</div>

<script src="/static/js/business/user/userinfo.js"></script>