#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/volunteer.css"></link>

<div class="volunteer" ng-controller="volunteerController">volunteer</div>

<script src="/static/js/business/user/volunteer.js"></script>