div.appraise {
	margin-left: 300px;
}

div.appraise div.left {
	border-right: solid 3px rgba(215, 215, 215, 1);
	width: 260px;
	float: left;
	padding: 30px;
	height: 400px;
}

div.appraise div.left img {
	border: solid 1px;
	min-height: 200px;
	min-width: 200px;
	height: 200px;
	width: 200px;
}

div.appraise div.right {
	width: 500px;
	display: inline-block;
	float: left;
	height: 400px;
	padding: 30px;
}

div.appraise div.right  span.key {
	display: inline-block;
	width: 100px;
	font-size: large;
}

div.appraise div.right  span.rate {
	font-size: x-large;
}