div.content {
	padding-left: 300px;
}

div.order table {
	width: 840px;
}

div.order table.tab td {
	height: 50px;
	width: 280px;
	border: solid 1px;
	padding: 0px;
}

div.order table.tab td a {
	text-decoration: none;
}

div.order table.tab td div {
	height: 50px;
	width: 280px;
	line-height: 50px;
}

div.order div.result ul {
	padding-left: 0px;
}

div.order div.result li {
	border: solid 1px;
	width: 840px;
	list-style-type: none;
}