div.realname {
	margin-left: 200px;
}

div.realname div.block {
	width: 1000px;
	border: 1px solid #cccccc;
}

div.content table {
	width: 960px;
}

div.realname table td {
	padding: 5px;
}

div.realname img {
	max-height: 100px;
	max-width: 200px;
}

div.realname table td.key {
	width: 150px;
}

div.realname div.buttons {
	width: 840px;
	margin-top: 30px;
	text-align: center;
	margin-top: 30px;
}

div.realname table td.value input, div.realname table td.value select {
	width: 500px;
}