div.application {
	text-align: center;
}

div.application table {
	margin: auto;
}

div.application label, div.application button, div.application input {
	margin-bottom: 10px;
	margin-top: 10px;
}

div.application img {
	max-height: 100px;
	max-width: :150px
}