<div class="navBar">
	<ul>
		<li><div
				class="navBarItem #if($currentPage=='AUDIT_SUPPLIER')selected #end">
				<a href="/service/operator/audit/supplier">#button("SERVICE_OPERATOR_AUDIT_SUPPLIER")</a>
			</div></li>
		<li><div
				class="navBarItem #if($currentPage=='AUDIT_RECEIVER')selected #end">
				<a href="/service/operator/audit/receiver">#button("SERVICE_OPERATOR_AUDIT_RECEIVER")</a>
			</div></li>
	</ul>
</div>