#set($currentPage="AUDIT_SUPPLIER")
#parse("/velocity/service/operator/navigation.vm")

<link rel="stylesheet"
	href="/static/css/business/service/operator/proposedSupplier.css"></link>

<div class="proposedSupplier" ng-controller="proposedSupplierController">
	<table>
		<thead>
			<tr>
				<th>#label("ID")</th>
				<th>#label("NAME")</th>
				<th>#label("IDENTITY")</th>
				<th>#label("EMAIL")</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="supplier in suppliers">
				<td><a href="/service/operator/audit/supplier/{{supplier.id}}">{{supplier.id}}</a></td>
				<td>{{supplier.name}}</td>
				<td>{{supplier.identity}}</td>
				<td>{{supplier.email}}</td>
			</tr>
		</tbody>
	</table>
	<pagination total-items="paging.itemCount" ng-model="paging.pageIndex"
		max-size="10" items-per-page="paging.pageSize" class="pagination-sm"
		boundary-links="true" ng-change="pageChanged()"
		first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
		previous-text='#label("PREVIOUS_PAGE")'
		next-text='#label("NEXT_PAGE")'></pagination>
</div>

<script src="/static/js/business/service/operator/proposedSupplier.js"></script>