#set($currentPage="SUPPLIER") #parse("/velocity/user/navigation.vm")
#title("SUPPLIER")

<link rel="stylesheet"
	href="/static/css/business/user/supplier/announcement2.css"></link>

<div class="announcement2" ng-controller="announcement2Controller">
	<div>#info("SUPPLIER_ANNOUNCEMENT2")</div>
	<button ng-click="agree()">#button("AGREE")</button>
	<button ng-click="disagree()">#button("DISAGREE")</button>
</div>


<script src="/static/js/business/user/supplier/announcement2.js"></script>