#set($currentPage="SUPPLIER") #parse("/velocity/user/navigation.vm")
#title("SUPPLIER")

<link rel="stylesheet"
	href="/static/css/business/user/supplier/supplier.css"></link>

<div class="supplier" ng-controller="supplierController">
	#if($supplier)
	<script type="text/javascript">
		layoutApp
				.value(
						'supplierData',
						{
							"id" : "#if(${supplier.id})${supplier.id}#end",
							"name" : "#if(${supplier.name})${supplier.name}#end",
							"status" : "#if(${supplier.status})${supplier.status.message}#end",
							"email" : "#if(${supplier.email})${supplier.email}#end",
							"identity" : "#if(${supplier.identity})${supplier.identity}#end",
							"licenseCopy" : "#if(${supplier.licenseCopy})${supplier.licenseCopy}#end",
							"identityCopy" : "#if(${supplier.identityCopy})${supplier.identityCopy}#end"
						});
	</script>
	<div>
		<div>
			<table>
				<tr>
					<td><label>#label("ID")</label></td>
					<td><span>{{supplierData.id}}</span></td>
				</tr>
				<tr>
					<td><label>#label("NAME")</label></td>
					<td><span>{{supplierData.name}}</span></td>
				</tr>
				<tr>
					<td><label>#label("STATUS")</label></td>
					<td><span>{{supplierData.status}}</span></td>
				</tr>
				<tr>
					<td><label>#label("IDENTITY")</label></td>
					<td><span>{{supplierData.identity}}</span></td>
				</tr>
				<tr>
					<td><label>#label("EMAIL")</label></td>
					<td><span>{{supplierData.email}}</span></td>
				</tr>
				<tr>
					<td><label>#label("LICENSE_COPY")</label></td>
					<td>
						<div>
							<a ng-href="{{licenseCopyUrl}}"> <img
								ng-src="{{licenseCopyUrl}}" />
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td><label>#label("IDENTITY_COPY")</label></td>
					<td>
						<div>
							<a ng-href="{{identityCopyUrl}}"> <img
								ng-src="{{identityCopyUrl}}" />
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	#else
	<script type="text/javascript">
		layoutApp.value('supplierData', {});
	</script>
	<div>#info("NO_SUPPLIER")</div>
	<button ng-click="active()">#button("ACTIVE")</button>
	#end
</div>


<script src="/static/js/business/user/supplier/supplier.js"></script>