<link rel="stylesheet" href="/static/css/business/service/detail.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceOrderId", ${orderId});
</script>
<div class="detail">
	<div class="title">
		<span>#label("SERVICE_ORDER_DETAIL")</span>
	</div>
	<div class="level1">
		<span>#label("SERVICE_ORDER_PREVIEW")</span>
	</div>
	<div class="level2">
		<span>#label("ORDER_ID"):</span> <span>{{serviceOrder.id}}</span>
	</div>
	<div class="level2">
		<span>#label("STATUS"): </span> <span>{{serviceOrder.status.message}}</span>
	</div>
	<div class="level2">
		<span>#label("SERVICE_CATEGORY"): </span> <span>{{serviceOrder.serviceInfo.name}}</span>
	</div>
	<div class="level2">
		<span>#label("SERVICE_SUPPLIER_CLIENT_NAME"): </span> <span>{{serviceOrder.serviceInfo.serviceSupplierClient.name}}</span>
	</div>
	<div class="level2">
		<span>#label("SERVICE_ADDRESS"): </span> <span>{{serviceOrder.address}}</span>
	</div>
	<div class="level2">
		<span>#label("SERVICE_TIME"): </span> <span>{{serviceOrder.serviceDate|date:'yyyy/MM/dd'}}</span><br /> <span>
			{{serviceOrder.serviceHour}}:00</span>
	</div>
	<div class="level2">
		<span>#label("PAYMENT_METHOD"): </span> <span>{{serviceOrder.paymentMethod}}</span>
	</div>
	<div class="level1">
		<span>#label("SERVICE_ORDER_TRACING")</span>
	</div>
	<div class="level2">
		<span>#label(""): </span> <span>{{}}</span>
	</div>
	<div class="level2">
		<span>#label(""): </span> <span>{{}}</span>
	</div>
	<div class="level2">
		<span>#label(""): </span> <span>{{}}</span>
	</div>
	<div class="level2">
		<span>#label(""): </span> <span>{{}}</span>
	</div>


	<div class="submit">
		<button ng-click="edit()">#button("EDIT")</button>
		<button ng-if="serviceOrder.status.code=='I'" ng-click="pay()">#button("ONLINE_PAY")</button>
		<button ng-click="orderMore()">#button("ORDER_MORE")</button>
	</div>
</div>

<script src="/static/js/business/service/detail.js"></script>