<link rel="stylesheet" href="/static/css/business/service/info.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceSupplierClientId", ${serviceSupplierClientId});
</script>
<div class="info" ng-controller="contentController">
	<div class="image">
		<img />
	</div>
	<div class="card">
		<div class="title">金牌爱心家政公司</div>
		<div class="cardItem">
			<span class="key">#label("COMPANY_ADDRESS")</span><span class="value">泰山大街199号建设大厦1026室</span>
		</div>
		<div class="cardItem category">
			<span class="key">#label("SERVICE_CATEGORY")</span><span
				class="value"><input type="checkbox" />保洁</span> <span
				class="value"><input type="checkbox" />保洁</span> <span
				class="value"><input type="checkbox" />保洁</span>
		</div>
		<div class="cardItem">
			#if(${authentication.token.authenticated})
			<button>#button("APPLY")</button>
			#else
			<div>
				<span>#info("LOGIN_BEFORE_ORDERING")</span>
			</div>
			<button>#button("LOGIN")</button>
			#end
		</div>
	</div>
	<div class="detail">
		<div class="tab">
			<ul>
				<li><a href="javascript:void(0)" ng-click="status='desc'"><div>
							<span>#label("COMPANY_DESCRIPTION")</span>
						</div></a></li>
				<li><a href="javascript:void(0)" ng-click="status='cate'"><div>
							<span>#label("COMPANY_SERVICE_CATEGORY")</span>
						</div></a></li>
				<li><a href="javascript:void(0)" ng-click="status='appr'"><div>
							<span>#label("COMPANY_APPRAISE")</span>
						</div></a></li>
			</ul>
		</div>
		<div class="tabPage">
			<div ng-show="status=='desc'">
				<div class="title">
					<span>金牌爱心家政公司</span>
				</div>
				<div class="text">
					<span>成立于2011年，目前有三家门店，集母婴用品零售，婴幼儿水育，儿童摄影，产后护理，满月发汗，产后催乳，月嫂育儿嫂于一体的综合性母婴服务机构。同时开设妈妈课堂，产后护理，发汗，催乳培训课堂。</span>
				</div>
			</div>
			<div class='ng-hide' ng-show="status=='cate'">
				<table>
					<thead>
						<tr>
							<td align="center">#label("SERVICE_CATEGORY")</td>
							<td align="center">#label("SERVICE_PRICE")</td>
							<td align="center">#label("SERVICE_DESCRIPTION")</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center">保洁</td>
							<td align="center">100/#label("HOUR")</td>
							<td align="center">打扫卫生，一尘不染</td>
						</tr>
						<tr>
							<td align="center">做饭阿姨</td>
							<td align="center">200/#label("HOUR")</td>
							<td align="center">四菜一汤，五味俱全</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='ng-hide' ng-show="status=='appr'">
				<div class="title">#info("COMPANY_ORDERED_1")2#info("COMPANY_ORDERED_2")</div>
				<table>
					<thead>
						<tr>
							<td align="center">#label("SERVICE_RECEIVER")</td>
							<td align="center">#label("SERVICE_CATEGORY")</td>
							<td align="center">#label("APPRAISE")</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center">买家A</td>
							<td align="center">保洁</td>
							<td align="center">很棒</td>
						</tr>
						<tr>
							<td align="center">买家B</td>
							<td align="center">做饭阿姨</td>
							<td align="center">干净、味美、营养丰富</td>
						</tr>
					</tbody>
				</table>
				<div class="paging">
					<pagination total-items="pagingData.itemCount"
						ng-model="pagingData.pageIndex" max-size="10"
						items-per-page="pagingData.pageSize" class="pagination-sm"
						boundary-links="true" ng-change="searchAppraise()"
						first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
						previous-text='#label("PREVIOUS_PAGE")'
						next-text='#label("NEXT_PAGE")'></pagination>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/service/info.js"></script>