<link rel="stylesheet" href="/static/css/business/service/info.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceSupplierClientId", ${serviceSupplierClientId});
</script>
<div class="info">
	<div class="image">
		<img alt="#label('NOT_UPLOADED')" ng-src="/ajax/content/image/{{serviceSupplierClient.logo}}"/>
	</div>
	<div class="card">
		<div class="title">{{serviceSupplierClient.name}}</div>
		<div class="cardItem">
			<span class="key">#label("COMPANY_ADDRESS")</span><span ng-show="serviceSupplierClient.address" class="value">{{serviceSupplierClient.address}}</span><span
				ng-hide="serviceSupplierClient.address" class="value">{{serviceSupplierClient.region}}</span>
		</div>
		<div class="cardItem category">
			<span class="key">#label("SERVICE_CATEGORY")</span> <span ng-show="services.length=>0" ng-repeat="serviceInfo in services" class="value">{{serviceInfo.serviceCategory.name}}</span>
			<span ng-show="services.length==0">{{serviceSupplierClient.categories}}</span>
		</div>
		<div class="cardItem">
			#if($platform=='ADMIN')
			<button ng-click="passAudit()">#button("PASS_AUDIT")</button>
			<button ng-click="denyAudit()">#button("DENY_AUDIT")</button>
			#else #if(${authentication.token.authenticated})
			<button ng-click="apply()">#button("APPLY")</button>
			#else
			<div>
				<span>#info("LOGIN_BEFORE_ORDERING")</span>
			</div>
			<button>#button("LOGIN")</button>
			#end #end
		</div>
	</div>
	<div class="detail">
		<div class="tab">
			<ul>
				<li><a href="javascript:void(0)" ng-click="status='desc'"><div>
							<span>#label("COMPANY_DESCRIPTION")</span>
						</div></a></li>
				<li><a href="javascript:void(0)" ng-click="status='cate'"><div>
							<span>#label("COMPANY_SERVICE_CATEGORY")</span>
						</div></a></li>
				<li><a href="javascript:void(0)" ng-click="status='appr'"><div>
							<span>#label("COMPANY_APPRAISE")</span>
						</div></a></li>
			</ul>
		</div>
		<div class="tabPage">
			<div ng-show="status=='desc'">
				<div class="title">
					<span>{{serviceSupplierClient.name}}</span>
				</div>
				<div class="text">
					<span>{{serviceSupplierClient.description}}</span>
				</div>
			</div>
			<div class='ng-hide' ng-show="status=='cate'">
				<table>
					<thead>
						<tr>
							<td align="center">#label("SERVICE_CATEGORY")</td>
							<td align="center">#label("SERVICE_PRICE")</td>
							<td align="center">#label("SERVICE_DESCRIPTION")</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="serviceInfo in services">
							<td align="center">{{serviceInfo.serviceCategory.name}}</td>
							<td align="center">{{serviceInfo.price}}/#label("HOUR")</td>
							<td align="center">{{serviceInfo.description}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='ng-hide' ng-show="status=='appr'">
				<div class="title">#info("COMPANY_ORDERED_1"){{pagingData.itemCount}}#info("COMPANY_ORDERED_2")</div>
				<table>
					<thead>
						<tr>
							<td align="center">#label("SERVICE_RECEIVER")</td>
							<td align="center">#label("SERVICE_CATEGORY")</td>
							<td align="center">#label("APPRAISE")</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="orderInfo in orders">
							<td align="center"><span>{{orderInfo.username}}</span></td>
							<td align="center"><span>{{orderInfo.serviceInfo.serviceCategory.name}} </span></td>
							<td align="center"><span>{{orderInfo.appraise.comment}}</span></td>
						</tr>
					</tbody>
				</table>
				<div class="paging">
					<pagination total-items="pagingData.itemCount" ng-model="pagingData.pageIndex" max-size="10" items-per-page="pagingData.pageSize"
						class="pagination-sm" boundary-links="true" ng-change="searchOrders()" first-text='#label("FIRST_PAGE")'
						last-text='#label("LAST_PAGE")' previous-text='#label("PREVIOUS_PAGE")' next-text='#label("NEXT_PAGE")'></pagination>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/service/info.js"></script>