<link rel="stylesheet" href="/static/css/business/service/search.css"></link>

<div class="search">
	<div class="filter">
		<div class="title">
			<a href="javascript:void(0)" ng-click="selectedCategory=undefined;searchServices(true);"><span>#label("ALL_CATEGORIES")</span></a>
		</div>
		<div class="categoryItem ng-hide" ng-show="categories" ng-repeat="category in categories">
			<ul>
				<li class="category"><a href="javascript:void(0)" ng-click='selectCategory(category)'><span>{{category.name}}</span> </a></li>
				<li class="subCategory"><a href="javascript:void(0)" ng-repeat="subCategory in category.serviceSubCategories"
					ng-if="subCategory.status.code=='A'"><span>{{subCategory.name}}</span></a></li>
			</ul>
		</div>
	</div>
	<div class="services ng-hide" ng-show="results">
		<div class="service"></div>
	</div>
	<div class="paging ng-hide" ng-show="pagingData">
		<pagination total-items="pagingData.itemCount" ng-model="pagingData.pageIndex" max-size="10" items-per-page="pagingData.pageSize"
			class="pagination-sm" boundary-links="true" ng-change="searchServices(false)" first-text='#label("FIRST_PAGE")'
			last-text='#label("LAST_PAGE")' previous-text='#label("PREVIOUS_PAGE")' next-text='#label("NEXT_PAGE")'></pagination>
	</div>
</div>

<script src="/static/js/business/service/search.js"></script>