#set($currentPage="RECEIVER") #parse("/velocity/user/navigation.vm")
#title("RECEIVER")

<link rel="stylesheet"
	href="/static/css/business/user/receiver/receiverinfo.css"></link>

<script>
	layoutApp.value('receiverId', #if($id) $id #else 0 #end);
</script>

<div class="receiverinfo" ng-controller="receiverinfoController">
	<div>
		<div>
			<table>
				<tr>
					<td><label>#label("NAME")</label></td>
					<td><span ng-hide="editable">{{receiver.name}}</span> <input
						ng-show="editable" ng-model="receiver.name" /></td>
				</tr>
				<tr>
					<td><label>#label("YIJINCODE")</label></td>
					<td><span ng-hide="editable">{{receiver.yijinCode}}</span> <input
						ng-show="editable" ng-model="receiver.yijinCode" /></td>
				</tr>
				#if($id)
				<tr>
					<td><label>#label("STATUS")</label></td>
					<td><span>{{receiver.status.message}}</span></td>
				</tr>
				#end
				<tr>
					<td><label>#label("GENDER")</label></td>
					<td><span ng-hide="editable">{{receiver.gender.message}}</span>
						<select ng-show="editable" ng-model="receiver.gender.code">
							#foreach($gender in $genders)
							<option value="$gender.code">$gender.message</option> #end
					</select></td>
				</tr>
				<tr>
					<td><label>#label("DOB")</label></td>
					<td><span ng-hide="editable">{{receiver.dob}}</span> <input
						ng-show="editable" type="text" ui-date="dateOptions"
						ng-model="receiver.dob" /></td>
				</tr>
				<tr>
					<td><label>#label("IDENTITY")</label></td>
					<td><span ng-hide="editable">{{receiver.identityCard}}</span>
						<input ng-show="editable" ng-model="receiver.identityCard" /></td>
				</tr>
				<tr>
					<td><label>#label("HEALTH_STATUS")</label></td>
					<td><textarea ng-model="receiver.healthStatus"></textarea></td>
				</tr>
				<tr>
					<td><label>#label("PHONE")</label></td>
					<td><input ng-model="receiver.cellphoneNo" /></td>
				</tr>
				<tr>
					<td><label>#label("HOMEPHONE")</label></td>
					<td><input ng-model="receiver.homephoneNo" /></td>
				</tr>
				<tr>
					<td><label>#label("EMAIL")</label></td>
					<td><input ng-model="receiver.email" /></td>
				</tr>
				<tr>
					<td><label>#label("ADDRESS")</label></td>
					<td><textarea ng-model="receiver.address"></textarea></td>
				</tr>
			</table>
		</div>
		<div>
			<button ng-click="apply()">#button("OK")</button>
			#if($id)
			<button ng-show="editable" ng-click="cancel()">#button("DELETE")</button>
			#end
			<button ng-click="back()">#button("BACK")</button>
		</div>
	</div>
</div>


<script src="/static/js/business/user/receiver/receiverinfo.js"></script>