<link rel="stylesheet" href="/static/css/business/base/header.css"></link>

<div class="header" ng-controller="headerController">
	<div class="headerBar">
		<div class="left">
			<ul>
				<li><a href="/home"><div>
							<img src="/static/images/logo/yqyl.png" alt="YQYL" />
						</div></a></li>
				<li><div>
						#if($platform=="SERVICER") <span class="title">#label("PRODUCT_SERVICER")</span>
						#elseif($platform=="ADMIN") <span class="title">#label("PRODUCT_ADMIN")</span>
						#elseif($platform=="OPERATOR") <span class="title">#label("PRODUCT_OPERATOR")</span>#else<span
							class="title">#label("PRODUCT")</span> #end
					</div></li> #if(!$platform)
				<li><div>
						<span class="city">泰安市</span>
					</div></li> #end
			</ul>

		</div>
		<div class="right">
			<ul>
				#if(${authentication}) #if(${authentication.token.authenticated})
				<li><div>
						<span>#label("WELCOME"), ${authentication.token.username}</span>
					</div></li> 
				<li><div>
						<span><a href="/user">#label("USER_CENTER")</a></span>
					</div></li>
				<li><div>
						<span><a href="javascript:void(0)" ng-click="logout()">#label("LOGOUT")</a></span>
					</div></li> #else
				<li><div>
						<a href="/login"><span> #button("LOGIN")</span></a>
					</div></li> #end #end
			</ul>
		</div>
	</div>
</div>

<script src="/static/js/business/base/header.js"></script>

