<link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap.min.css"></link>
<link rel="stylesheet" href="/static/css/lib/jquery/jquery-ui.css"></link>
<link rel="stylesheet" href="/static/css/general.css"></link>
<script src="/static/js/lib/jquery/jquery.js"></script>
<script src="/static/js/lib/jquery/jquery-ui.min.js"></script>
<script src="/static/js/lib/angularjs/angular.min.js"></script>
<script src="/static/js/lib/angularjs/date.js"></script>
<script src="/static/js/lib/angularjs/ui-bootstrap-tpls.js"></script>
