<html>

<head>
<meta http-equiv="cache-control" content="public">
#parse("/velocity/base/include.vm")
</head>
<script src="/static/js/business/base/layout.js"></script>
<body ng-app="layoutApp">
	#parse("/velocity/base/header.vm")
	
	#parse("/velocity/base/navigator.vm")

	<div class="content">$screen_content</div>

	#parse("/velocity/base/footer.vm")
</body>
</html>